@use '../../foundation/index' as *;

// =============================
// simulation / condition 共通
// =============================

.page__header {
  padding-bottom: 117rem;

  @include media() {
    padding-bottom: 73rem;
  }
}

.page__title-area {
  display: grid;
  margin: 0 auto;
  width: 1840rem;
  height: 360rem;
  border-radius: 40rem;
  background-color: #fff7e2;

  place-items: center;

  @include media() {
    margin: 72rem auto 0;
    width: 335rem;
  }
}

.page__title {
  position: relative;
  padding-bottom: 30rem;
  color: var(--colorMain);
  vertical-align: middle;
  text-align: center;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(52);
  font-family: var(--fontMaru);
  line-height: 1.5;

  @include media() {
    padding-bottom: 15rem;
    font-size: r(22);
    line-height: 1.7;
  }

  & span {
    letter-spacing: .15em;
    font-size: r(30);

    @include media() {
      font-size: r(18);
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 5rem;
    left: 50%;
    display: block;
    width: 671rem;
    height: 11rem;
    background-image: url(../../assets/image/image_page-title.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(-50%) scale(1.04);

    @include media() {
      bottom: 2px;
      width: 279rem;
      height: 8rem;
      background-image: url(../../assets/image/image_page-title_sp.svg);
    }
  }
}

.page__breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  margin-top: 30rem;
  font-size: r(15);

  @include media() {
    margin-top: 18rem;
  }


  & li:first-child {
    text-transform: uppercase;
    font-weight: var(--weightBold);
    font-family: var(--fontEnglish);
  }

  & li:nth-child(n + 2) {
    display: flex;
    align-items: center;
    gap: 10rem;
    color: var(--colorMain);
    font-weight: var(--weightMedium);

    &::before {
      content: '';
      display: block;
      width: 37rem;
      height: 1px;
      background-color: var(--colorText);
    }
  }
}

.page__section {
  position: relative;
  padding-top: 93rem;
  padding-bottom: 91rem;
  background-color: var(--colorSub);

  @include media() {
    padding-top: 76rem;
    padding-bottom: 70rem;
  }

  & .section__balloon {
    left: 50%;
    background-color: var(--colorText);
    transform: translate(-50%, -50%);

    @include media() {
      top: 0;
      padding: 16rem 0 16rem 10rem;
      font-size: r(20);
    }

    &::after {
      background-color: var(--colorText);
    }
  }

  &.page__condition {
    padding-bottom: 140rem;

    @include media() {
      margin-top: 20rem;
      padding-top: 83rem;
      padding-bottom: 50rem;
    }
  }
}

.page__button {
  margin: 68rem auto 0;
  width: 725rem;
  height: 112rem;

  @include media() {
    margin-top: 30rem;
  }

  & .button__link {
    background-color: var(--colorKey);
    font-size: r(22);

    @include media() {
      // font-size: r(16);
      font-size: 16rem;
    }
  }
}

.page__text {
  color: var(--colorText);
  text-align: center;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(32);
  font-family: var(--fontMaru);
  line-height: 1.75;

  @include media() {
    font-size: r(22);
  }

  & span {
    color: var(--colorMain);
  }
}


// ========================
// simulation
// ========================


.simulation__container {
  padding: 74rem 125rem 115rem;
  border-radius: 20rem;
  background-color: #fff;

  @include media() {
    padding: 60rem 10rem 30rem;
  }
}

.simulation__text {
  margin-top: 13rem;
  color: var(--colorText);
  text-align: center;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(20);
  font-family: var(--fontMaru);

  @include media() {
    font-size: r(14);
    line-height: 2;
  }
}

.simulation__balloon {
  position: relative;
  // left: 50%;
  display: inline-block;
  // margin-top: r(40);
  padding: 14rem 50rem;
  border-radius: 10rem;
  background-color: var(--colorMain);
  color: #fff;
  text-align: center;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(32);
  font-family: var(--fontMaru);
  // transform: translateX(-50%);

  @include media() {
    padding: 10rem 0 12rem;
    width: 314rem;
    font-size: r(22);
    line-height: 1.8182;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    display: block;
    width: 32rem;
    height: 16rem;
    background-color: var(--colorMain);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transform: translate(-50%, 100%);

    @include media() {
      width: 20rem;
      height: 10rem;
    }
  }
}

.simulation__birthday {
  padding-top: 40rem;
  padding-bottom: 60rem;
  border-bottom: 1px solid var(--colorText);
  text-align: center;

  @include media() {
    padding-top: 28rem;
    padding-bottom: 44rem;
    // border-bottom: 2px solid var(--colorText);
  }
}

.simulation__birthday-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50rem auto 0;
  width: 848rem;
  color: var(--colorText);
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(28);
  font-family: var(--fontMaru);

  @include media() {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 36rem;
    margin-bottom: 18rem;
    font-size: r(20);

    row-gap: 18rem;
  }

  label {
    @include media() {
      margin: 0 auto;
    }
  }
}

input,
select {
  width: auto;

  -webkit-appearance: none;
  appearance: none;
}

.select {
  position: relative;
  display: grid;
  border: 2px solid #707070;
  border-radius: 10rem;
  background-color: #f7f7f7;
  vertical-align: middle;

  place-items: center;

  @include media() {
    height: 55rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 16rem;
    right: 17rem;
    width: 11rem;
    height: 11rem;
    border: 1px solid #707070;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    pointer-events: none;

    @include media() {
      top: 20rem;
      width: 7rem;
      height: 7rem;
      border: 2px solid #707070;
      border-top: 0;
      border-right: 0;
    }
  }
}

.select select {
  width: 100%;
  height: 100%;
  text-align-last: center;

  & option {
    font-size: 28rem;
  }
}

.select--year {
  width: 240rem;

  @include media() {
    width: 280rem;
  }
}

.select--month,
.select--date {
  width: 140rem;

  @include media() {
    width: 116rem;
  }
}


.simulation__birthday-text {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30rem;
  width: auto;
  border-bottom: 1px solid var(--colorMain);
  color: var(--colorMain);
  text-align: center;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(20);
  font-family: var(--fontMaru);
  line-height: 2;

  @include media() {
    display: inline;
    font-size: r(14);
  }
}

.simulation__plan {
  padding-top: 71rem;
  padding-bottom: 98rem;
  border-bottom: 1px solid var(--colorText);
  text-align: center;

  @include media() {
    padding-top: 40rem;
    padding-bottom: 45rem;
  }
}

.simulation__result {
  padding-top: 64rem;
  text-align: center;

  @include media() {
    padding-top: 40rem;
  }
}

.simulation__result-container {
  margin-top: 55rem;
  padding: 30rem;
  border-radius: 10rem;
  background-color: var(--colorKey);
  color: #fff;
  text-align: center;
  text-align: center;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(24);
  font-family: var(--fontMaru);

  @include media() {
    margin-top: 30rem;
    padding: 18rem;
    font-size: r(12);
  }
}

.simulation__result-text {
  position: relative;
  // display: inline-block;

  @include media() {
    font-size: r(14);
  }

  &:nth-child(2) {
    line-height: 1.4;

    @include media() {
      margin-top: 5rem;
      font-size: r(18);
    }
  }

  &:nth-child(3) {
    @include media() {
      margin-top: 10rem;
      font-size: r(12);
      line-height: 1.25;
    }
  }
}

.simulation__result-line {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 2px;
    height: 40rem;
    background-color: #fff;

    @include media() {
      height: 22rem;
    }
  }

  &::before {
    left: -30rem;
    transform: rotate(-30deg);

    @include media() {
      left: -16rem;
    }
  }

  &::after {
    right: -30rem;
    transform: rotate(30deg);

    @include media() {
      right: -16rem;
    }
  }
}

.simulation__result-price {
  color: #fff9ad;
  font-size: r(60);

  @include media() {
    font-size: r(40);
    line-height: 1;
  }
}

.page__simulation {
  .price__table-container {
    overflow: visible;
    margin-top: 42rem;
    border: 0;
    border-radius: 0;
    background-color: #fff;

    @include media() {
      margin: 17rem auto 0;
      width: 305rem;
    }
  }

  .price__table {
    position: relative;
    overflow: hidden;
    border-radius: 40rem;

    @include media() {
      border-radius: 20rem;
    }
  }

  .price__table::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid var(--colorMain);
    border-radius: 40rem;

    @include media() {
      border-radius: 20rem;
    }
  }

  .price__table th {
    @include media() {
      padding: 20rem 0 20rem;
      line-height: 1.375;
    }
  }

  .price__table td {
    @include media() {
      height: 86rem;
    }
  }

  .price__table tr td:first-of-type {
    @include media() {
      width: 133rem;
    }
  }
}



.year_checked,
.plan_checked {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 209, 221, .45);

    mix-blend-mode: darken;
  }
}

th.plan_checked::after {
  mix-blend-mode: inherit;
}

.year_checked.plan_checked {
  box-sizing: border-box;
  outline: 7rem solid #f8ff50;
  outline-offset: -7rem;
  background-color: #82d1dd !important;
  color: #fff !important;

  @include media() {
    outline: 5rem solid #f8ff50;
    outline-offset: -5rem;
  }

  & span {
    color: #fff !important;
  }

  &::after {
    display: none;
  }

  &.plan_02 {
    outline: 9rem solid #f8ff50;
    outline-offset: -9rem;

    @include media() {
      outline: 6rem solid #f8ff50;
      outline-offset: -6rem;
    }
  }


  &.highschool.plan_02 {
    border-radius: 0 0 40rem 0;

    @include media() {
      border-radius: 0 0 20rem 0;
    }
  }
}

.simulation__plan-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  margin-top: 46rem;

  @include media() {
    flex-direction: column;
    gap: 20rem;
    margin-top: 40rem;
  }
}

.radiobutton {
  display: none;
}

.radio--plan {
  display: grid;
  width: 460rem;
  height: 80rem;
  border-radius: 70rem;
  background-color: #ab9e92;
  color: #fff;
  letter-spacing: .14em;
  font-weight: var(--weightBold);
  font-size: r(18);
  font-family: var(--fontMaru);
  transition: opacity .4s;

  place-items: center;

  @include media() {
    width: 295rem;
    height: 55rem;
  }

  @include hover() {
    opacity: .6;
  }
}

.radiobutton:checked+.radio--plan {
  background-color: #60432e;

  @include hover() {
    opacity: 1;
  }
}



// =============================
// condition
// =============================

.condition__list {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 40rem;
  grid-row-gap: 40rem;
  grid-template-areas: 'condition01 condition01'
    'condition02 condition03';

  @include media() {
    display: flex;
    flex-direction: column;
    gap: 30rem;
    width: 100%;
  }
}

.condition__item {
  position: relative;
  border-radius: 20rem;
  background-color: #fff;

  &::before {
    content: '01';
    position: absolute;
    top: -5rem;
    left: 10rem;
    z-index: 1;
    color: #f7f7f7;
    letter-spacing: .08em;
    font-weight: var(--weightBold);
    font-size: r(169);
    font-family: var(--fontEnglish);
    line-height: 1;

    @include media() {
      top: 15rem;
      left: 20rem;
      font-size: r(100);
    }
  }
}

.condition__item-inner {
  position: relative;
  z-index: 2;

  @include media() {
    margin: 0 auto;
    width: 307rem;
  }
}

.condition__item--01 {
  padding: 60rem 0 78rem;

  grid-area: condition01;

  @include media() {
    padding: 60rem 0 40rem;
  }

  .condition__item-image {
    margin: 75rem auto 0;
    width: 996rem;

    @include media() {
      margin-top: 30rem;
      width: 303rem;
    }

    & img {
      width: 100%;
    }
  }
}

.condition__item--02 {
  padding: 40rem 47rem 40rem;

  grid-area: condition02;

  @include media() {
    padding: 60rem 0 40rem;
  }

  &::before {
    content: '02';
  }
}

.condition__item-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40rem;

  &::before {
    content: '';
    display: block;
    width: 143rem;
    height: 183rem;
    background-image: url('../../assets/image/image_coverage-option.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include media() {
      width: 107rem;
      height: 136rem;
    }
  }
}

.condition__item-text {
  position: relative;
  padding: 25rem 30rem;
  width: 325rem;
  border-radius: 20rem;
  background-color: var(--colorText);
  color: #fff;
  letter-spacing: .14em;
  font-weight: var(--weightMedium);
  font-size: r(16);
  line-height: 2;

  @include media() {
    padding: 16rem;
    width: 197rem;
    font-size: r(14);
  }

  & span {
    color: var(--colorSub);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-10rem + 1px);
    display: block;
    width: 10rem;
    height: 20rem;
    background-color: var(--colorText);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    transform: translateY(-50%);
  }
}

.condition__item--03 {
  padding-top: 40rem;
  padding-bottom: 40rem;

  grid-area: condition03;

  @include media() {
    padding-top: 60rem;
  }

  &::before {
    content: '03';
  }

  & .condition__item-image {
    margin: 33rem auto 0;
    width: 325rem;

    @include media() {
      width: 251rem;
    }

    & img {
      width: 100%;
    }
  }
}